
<h1 *ngIf="!images || images.length == 0" style="text-align: center">
  {{msg}}
</h1>

<mat-progress-spinner *ngIf="mode=='indeterminate'"
                      class="example-margin"
                      [color]="color"
                      [mode]="mode"
                      [value]="value">
</mat-progress-spinner>



<mat-grid-list gutterSize="1px" role="list" *ngIf="images && images.length > 0" cols="1" rowHeight="14em" >
  <mat-grid-tile role="listitem" *ngFor="let item of images"  [@flyInOut]="'in'">
    <div style="width: 100%;height: 100%" class="example-card" (click)="previewImage($event,item);">
      <img style="width: 100%;height: 100%"  mat-card-image [src]="item" alt="图片不存在">
      <!--style="margin-top: -40px; margin-bottom: -30px "-->
    </div>
  </mat-grid-tile>
</mat-grid-list>



