.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 50% auto;
}

.image-size{
  width: 100%;
  height: 100%;
}
